
/*NOMBRE*/
h1{
    color:hsl(324, 59%, 82%);
    text-align: center;
    text-decoration-line: line-through;
}
h4{
    color:hsl(324, 59%, 82%);
    text-decoration-line: underline;

}

body{
    background-color:pink;
    
}

/*GRID PRINCIPAL*/

.grid-layout{
    display:grid;
    grid-template-columns: repeat(8, 0.5fr);
    height:auto;
    background-image: url("imgs/holo4.jpg");
    background-image: stretch; 
    background-repeat:round;
}


/*BARRA DE NAVEGACIÓN-MENÚ*/
.navbar{
    display:grid;
    grid-column: 1/8; 
    background-color: pink;
    height: 8vh;
    margin-top:1vh;
    margin-bottom:1vh;
    margin-left:1vh;
    margin-right:1vh;
}


/*CARTELERA DE DESCUENTOS-SALE*/
/*PUEDE SER UNA ANIMACIÓN CON PORCENTAJES DE DESCUENTOS*/
.sale{
    display:grid;
    align-content: center;
    background-color: rgb(177, 102, 207);
    grid-column: 2/8;
    height: 15vh;
    margin-top:1vh;
    margin-bottom:1vh;
    margin-left:1vh;
    margin-right:1vh;
}

/*CARROUESEL DE IMÁGENES DE LA MARCA*/

#carousel{
  align-content: center;
  display:grid;
  background-color: rgb(177, 102, 207);
  grid-column: 1/9;
  height: 50vh;
  margin-top:1vh;
  margin-bottom:1vh;
  margin-left:1vh;
  margin-right:1vh;
}

.style {
  height: auto;
}
  
  .gallery {
    background: #EEE;
  }
  
  .gallery-cell {
    width: 50%;
    height: 50vh;
    margin-right: 1vh;
    background: rgb(241, 161, 188);
    counter-increment: gallery-cell;
  }
  
  /* cell number */
  .gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 20vh;
    font-size: medium;
    color: white;
  }


/*CARROUSEL A MODIFICAR SI FUESE NECESARIO*/



* {box-sizing:border-box}




/*NEWSLETTER*/
/*ACORDARME DE CAMBIAR EL MIN DEL DISPOSITIVO PARA QUE NO APAREZCA EN DISPOSITIVOS PEQUEÑOS*/
.newsletter{
    display:grid;
    background-color:rgb(213, 231, 229);
    grid-column: 1/9;
    height: 10vh;
    margin-top:1vh;
    margin-bottom:1vh;
    margin-left:1vh;
    margin-right:1vh;
    font-size: smaller;
}

/*FORMULARIO NEWSLETTER*/
form {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
 
  form input {
    width: 90%;
    margin: 0.5rem;
  }
 
  button {
    padding: 0.5em 0.5em;
    margin-right: 1vh;
    border: none;
    background: turquoise;
    cursor: pointer;
    color: white;
    width: 20%;
    position: relative;
    
  }







/*FOOTER-REDES SOCIALES*/
footer{
    display:grid;
    background-color: pink;
    grid-column: 1/9;
    height: 7vh;
    margin-top:1vh;
    margin-bottom:1vh;
    margin-left:1vh;
    margin-right:1vh;
} 


P{
    text-align: center;
    font-size: smaller;
    font-style: italic;
}

/*TIENDA*/

#header {grid-area: header;}
/*Menú*/
#navegacion {grid-area: menu;}
/*Principal*/
.grid-area {grid-area: main;}
/*Aside*/
.aside {grid-area: aside;}
/*Pie*/
#footer {grid-area: footer;}

.grid-area {
    display: grid;
    grid-template-areas:
        /*6 columnas y 3 filas*/
        'header header header header'
        'menu menu menu menu'
        'main main main aside'
        'aside aside aside aside'
        'footer footer footer footer';
    grid-gap: 2vh;
    padding: 2vh;
}

.lista > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 1% 0;
    font-size: 5vh;
}

/*transición incluida*/
.lista {
  display: grid;
  width: 100vw;
  transition: all 1.5s ease-in-out;
}

.listadoProd {
  background: url("imgs/grafitti.png");
  background-size:auto;
  overflow: hidden;
}

.productos {
  width: 100vw;
  display: grid;
  align-items: center;
  justify-content: center;
  position: relative;
}

.listaProd {
  width: 70vh;
  border-radius: 50%;
  position: absolute;
}

.prodImg {
  z-index: 1;
}

.listaTitulo {
  position: absolute;
  top: 20%;
  right: 10%;
  left: 10%;
  font-size: 6vh;
  font-weight: 900;
  text-align: center;
  color: rgb(0, 0, 0);
  z-index: 1 ;
  text-decoration-line:line-through ;
}

.listaPrecio {
  display: flex;
  position: absolute;
  top: 50%;
  left: 20%;
  font-size: 10vh;
  font-weight: 200;
  text-align: center;
  color: black;
  border: 2vh solid rgb(255, 147, 192);
  z-index: 1;
  margin: 0px auto;
}

.botonCompra {
  position:fixed;
  width: 15%;
  top: 80%;
  right: 25%;
  font-size: small;
  font-weight: 900;
  color: white;
  border: 1px solid pink;
  background-color: black;
  z-index: 2;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}

.botonCompra:hover {
  background-color: white;
  color: black;
}

.productos:nth-child(1) .sliderBg {
  background-color: black;
}

.listaProd {
  display: flex;
  width: 100vw;
  transition: all 1.5s ease-in-out;
}

.asides {
  display: flex;
  display: block;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
}

.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.asideIcono {
  width: 5vh;
  height: 5vh;
}

.asideTitulo {
  font-size: 2vh;
  font-weight: 600;
  margin: 2%;
}

.asideDesc {
  color: black;
  width: 50%;
  height: 100%;
}

.productos {
  height: 100vh;
  background-color: white;
  position: relative;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
}

.pago {
  width: 20%;
  height: 20%;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 2% 2%;
  display: none;
  flex-direction: column;
  -webkit-box-shadow: 0 0 5% 2% rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5% 2% rgba(0, 0, 0, 0.3);
}

.pagoTitulo {
  font-size: medium;
  color: black;
}

label {
  font-size: 5vh;
  font-weight: 300;
}

.datoPago {
  padding: 5%;
  margin: 5% 0;
  border: none;
  border-bottom: 1% solid black;
}

.datoPago::placeholder {
  color: black;
}

.tarjIcono {
  display: flex;
}

.tarjIcono {
  margin-right: 5%;
}

.tarjetaInfo {
  display: flex;
  justify-content: space-between;
}

.env {
  width: 30%;
}

.botonPagar {
  position: absolute;
  height: 10vh;
  bottom: -40;
  width: 100%;
  left: 0;
  -webkit-box-shadow: 0 0 10% 5% rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10% 5% rgba(0, 0, 0, 0.3);
  background-color: black;
  color:rgb(0, 0, 0);
  border: none;
  cursor: pointer;
}

.salir {
  width: 3vh;
  height: 3vh;
  position: absolute;
  background-color: black;
  color: white;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 2%px;
}

.productImg {
  width: 50%;
}

.detallesProd {
  position: absolute;
  top: 10%;
  right: 0;
  width: 40%;
  padding: 5%;
}

.productTitle {
  font-size: 30%;
  font-weight: 900;
}

.productoDesc {
  font-style:italic;
  color: black;
}

.color,
.talles {
  display: flex;
  margin-bottom: 5%;
  border-color: black;
}

.color {
  width: 5vh;
  height: 5vh;
  border-radius: 2vh;
  background-color: black;
  margin-right: 5%;
  cursor:pointer; 
  border-color: black;
}

.color:last-child {
  background-color: white;
  border-color: black;
}

.size {
  padding: 5% 20%;
  border: 5% solid black;
  margin-right: 10%;
  cursor: pointer;
  font-size: large;
}

.productoBoton {
  float: right;
  padding: 10px 20px;
  background-color: black;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.producto:hover {
  background-color: white;
  color: black;
}

.galeria {
  padding: 2vh;
  display: flex;
}

.galeriaItem {
  flex: 1;
  padding: 2vh;
}

.galeriaImg {
  width: 100%;
}