
/*header*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body{
  background-color:pink;
  
}


h1{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  margin-top: 15px;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
  width: 100%;
  background: black;
}
.heading ul {
  display: flex;
}

.heading1 {
  opacity: 0;
}
.buscar {
  display: flex;
  position: relative;
}
.seccion {
  height: max-content;
  width: 1080px;
  overflow: hidden;

  justify-content: center;
  align-items: center;
  margin: 0px auto;
}

.logo a {
  color: white;
  transition-duration: 1s;
  font-weight: 800;
}
.logo a:hover {
  color: rgb(240, 197, 6);
  transition-duration: 1s;
}
.heading ul li {
  list-style: none;
}
.heading ul li a {
  margin: 5px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  position: relative;
  color: white;
  margin: 2px 14px;
  font-size: 18px;
  transition-duration: 1s;
}
.heading ul li a:active {
  color: rgb(10, 10, 10);
}
.heading ul li a:hover {
  color: gray;
  transition-duration: 1s; /*transición*/
}

.heading ul li a::before {
  content: "";
  height: 2px;
  width: 0px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: white;
  transition-duration: 1s;
}
.heading ul li a:hover::before {
  width: 100%;
  transition-duration: 1s;
  background-color: pink;
}
#input {
  height: 30px;
  width: 300px;
  text-decoration: none;
  border: 0px;
  padding: 5px;
}
.logo a {
  color: white;
  font-size: 35px;
  font-weight: 500;
  text-decoration: none;
}
ion-icon {
  width: 30px;
  height: 30px;
  background-color: white;
  color: black;
}
ion-icon:hover {
  cursor: pointer;
}
.buscar a {
  display: flex;
}
header a ion-icon {
  position: relative;
  right: 3px;
}

.seccion2 .container {
  display: flex;
  width: 100%;
  height:fit-content;
  flex-wrap: wrap;
  justify-content:center;
  margin: 10px auto;
  align-items: center;
}
.seccion2 .container .items {
  margin: 10px;
  width: 200px;
  height: 300px;
  background-color: white;
  border: 2.5px solid black;
  border-radius: 12px;
}
.seccion2 .container .items .nombre {
  text-align: center;
  background-color: pink;
  height: 25px;
  padding-top: 4px;
  color: black;
  margin: 0;
}
.seccion2 .container .items .precio {
  float: left;
  padding-left: 10px;
  display: block;
  width: 100%;
  color: rgb(0, 0, 0);
  font-weight: 600;
}
.seccion2 .container .items .info {
  padding-left: 10px;
  color: black;
}
.seccion2 .container .items .img img {
  width: 200px;
  height: 200px;
  margin: 0;
  padding: 0;
  border-radius: 12px;
  transition-duration: 0.8s;
}
.seccion2 .container .items .img {
  overflow: hidden;
  margin: 0;
}
.seccion2 .container .items:hover .img img {
  transform: scale(1.2);
  transition-duration: 0.8s;
  border-radius: 12px;
}





/*CARROUESEL DE IMÁGENES DE LA MARCA*/

#carousel{
  align-content: center;
  display:grid;
  background-color: black;
  grid-column: 2/8;
  height: 50vh;
  margin-top:1vh;
  margin-bottom:1vh;
  margin-left:1vh;
  margin-right:1vh;
}

.style {
  height: auto;
}
  
  .gallery {
    background: #EEE;
  }
  
  .gallery-cell {
    width: 50%;
    height: 50vh;
    margin-right: 1vh;
    background: rgb(241, 161, 188);
    
  }
  
  .gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 20vh;
    font-size: medium;
    color: white;
  }



/*NEWSLETTER*/
/*ACORDARME DE CAMBIAR EL MIN DEL DISPOSITIVO PARA QUE NO APAREZCA EN DISPOSITIVOS PEQUEÑOS*/
.newsletter{ /*reacomodar posición en el footer*/
  display: flex;
  justify-content: center;
  color: white;
  background-color: black;
  flex-wrap: wrap;   
  margin: 1vh;
}

p{
  size: smaller;
}

  

 .enviar {
    float: right ;
    padding: 1vh;
    background-color: black;
    border-color: pink;
    color: pink;
    font-weight: 600;
    cursor: pointer;
  }
 
  .enviar :hover {
    color: pink;
    transform: translateY(5px);
  }




/*FOOTER-REDES SOCIALES*/


footer {
  display: column;
  width: 100%;
  flex-direction: row;
  background-color: pink;
  align-items: center;
  color: black;
}

h1{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  margin-top: 15px;
}

.footer1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  margin-top: 15px;
}
.redes-sociales {
  display: flex;
  justify-content: center;
  color: white;
  flex-wrap: wrap;
}
.redes-sociales a {
  color: white;
  margin: 20px;
  border-radius: 5px;
  margin-top: 10px;
  color: white;
}
.redes-sociales a ion-icon {
  color: white;
  background-color: white;
  color: black;
}
.redes-sociales a:hover ion-icon {
  color: gray;
  transform: translateY(5px);
}
.footer2 {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  flex-wrap: wrap;
}
.footer0 {
  font-weight: 1200;
  transition-duration: 1s;
}
.footer0:hover {
  color: gray;
}
.footer2 .heading {
  font-weight: 900;
  font-size: 18px;
}
.footer3 {
  margin-top: 60px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer2:hover {
  color: gray;
}
.footer2 .div:hover {
  transform: scale(1.05);
}
.footer3 h4 {
  margin: 0 10px;
}
.footer2 div {
  margin: 10px;
}
.items {
  overflow: hidden;
}


/*media queries*/

@media only screen and (max-width: 1250px) {
   
  .items {
    transform: scale(0.9);
  }
 
  }

@media screen and (max-width: 1250px) {
  .heading ul li {
    display: none;
  }

  .items {
    transform: scale(0.9);
  }
  
  .ham:active {
    color: white;
  }
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu a ion-icon {
    position: absolute;
  }
  .menu ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    left: 0;
    top: 0;
    z-index: 11;
    align-items: center;
    justify-content: center;
    opacity: 1;
  }
 
  .cerrar:active {
    color: white;
  }
  .menu ul li {
    list-style: none;
    margin: 20px;
    border-top: 3px solid white;
    width: 80%;
    text-align: center;

    padding-top: 10px;
  }
  .menu ul li a {
    text-decoration: none;
    padding-top: 10px;
    color: white;
    font-weight: 700;
  }
  .menu ul li a:hover {
    color: pink;
  }
  
  .section1 {
    width: 80%;
    overflow: hidden;

    justify-content: center;
    align-items: center;
    margin: 0px auto;
  }

  .heading1 {
    opacity: 1;
    position: relative;
    bottom: 8px;
  }
  .buscar a {
    display: flex;
    flex-wrap: nowrap;
  }

  .heading1 .ham {
    background-color: black;
    color: white;
  }
  #input {
    width: 200px;
    flex-shrink: 2;
  }
  header {
    height: 150px;
  }
}



@media only screen and (max-width: 480px) {

  .heading ul li {
    display: none;
  }
  .heading1 {
    opacity: 1;

    bottom: 8px;
  }

  header {
    height: 250px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
  }
  #input {
    width: 150px;
  }
  .cerrar {
    z-index: 34;
  }

  .buscar a {
    display: flex;
    flex-wrap: nowrap;
  }

  .footer{
      width: 100%;
      height: 5vh;
  }

  .img{
    width: 100%;
  }

  .seccion2{
    width: 100%;
  }

  .ayuda {
    display: none;
  }
  .producto {
    display: none;
  }
  .servicios {
    display: none;
  }
  .empresa {
    display: none;
  }

  ion-icon{
    width: 4vh;
    height: 4vh;

  }

  h1{
    display: none;
  }

  .footer2{
    display: none;
  }

  .footer3{
    display: none;
  }

}